/* --------- Global style */
body{
    background-color: #3298F5 ;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #fff;
}

/* index.html page style */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 1.2rem;
    padding: 5px;
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #3298F5 ;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    cursor: pointer;
    transition: transform 150rem;
    transform: scale(1.03);
}

/* rules page styling */

#rules{
    background-color: #fff;
    color: #454A4F;
    width: 30rem;
    height: 17rem;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#rules h2{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 1rem;
}

#rules p{
    font-size: 0.9rem;
    line-height: 0.7rem;
    text-align: left;
    margin-left: 1rem;
}

.btn--ctn{
    font-size: 0.9rem;
    padding: 7px;
    width: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff ;
    background-color: #3298F5 ;
    border-radius: 3px;
}


.btn--ext{
    font-size: 0.9rem;
    padding: 7px;
    width: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #3298F5 ;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #3298F5;

}

/* game page styling */

#game{
    background-color: #fff;
    color: #454A4F;
    width: 50rem;
    height: 30rem;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.choice-container{
    display: block;
    margin-left: 2rem;
    margin-bottom: 0.8rem;
    width: 80%;
    border-radius: 6px;
    background: #d6eafd;
    font-size: 1rem;
    min-width: 15rem;
    border-radius: 2px;
    border: 1px solid #98cbfa;
}

#progressText{
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;
}

.score-item{
    float: right;
    margin-right: 2rem;
    background-color: #98cbfa;
    height: 30rem;
    width: 5rem;
   

}

#question{
    text-align: left;
    margin-top: 7rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}


.choice-container:hover{
    cursor: pointer;
    background-color: #84c1f9;
    transform: scale(1.02);
    transform: 100ms;
}

.choice-text{
    text-align: left;
    margin-left: 1rem;
}


.correct{
    background: linear-gradient(#99e599, #99e599)
    
}

.incorrect{
    background: linear-gradient(#ff9999, #ff9999)
  
}

/* End game page */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input{
    margin-bottom: 1rem;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
}

input::placeholder{
    color: lightgray;
}










